.about {
  margin-bottom: 5rem;
}

.footer {
  background-image: linear-gradient(
    to right bottom,
    $primary-color,
    $primary-color-dark
  );
  color: $color-white;
  height: 10rem;
  margin-top: 7.5rem;
  padding: 2rem;
  padding-left: 5rem;

  & a {
    color: $color-white;
  }
}

.header__logo {
  padding-left: 5rem;
  & img {
    height: 10rem;
  }
}

.hero-image {
  height: 75rem;
  object-fit: cover;
  width: 100%;
}

.page-title {
  margin-bottom: 2rem;
  margin-top: 5rem;
  text-align: center;
}

.rules {
  line-height: 1.7;
  margin: 0 auto;

  & h2 {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  & ul {
    list-style: none;
  }

  &__body {
    margin-left: 15rem;
    margin-top: 5rem;
  }

  &__commitment {
    border-bottom: 1px solid $primary-color;
  }

  &__date {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  &__list {
    padding-left: 2rem;
  }
}
