.post {
  line-height: 1.7;
  margin-left: 5rem;
  margin-right: 5rem;

  & h1 {
    margin-top: 5rem;
    text-align: center;
  }

  &__image {
    height: 50rem;
    object-fit: cover;
    width: 100%;
  }
}

.post-preview {
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.15);
  font-size: $default-font-size;
  margin: 0 auto;
  margin-bottom: 5rem;
  transition: all 0.3s;
  width: 65%;

  &:hover {
    transform: scale(1.1);
  }

  &__image {
    height: 17rem;
    object-fit: cover;
    width: 20rem;

    /* redundant, but it makes previews the same size even if image is missing */
    &-container {
      height: 17rem;
      width: 20rem;
    }
  }
}
