<template>
  <header class="header">
    <div class="header__logo">
      <n-link :to="`/`">
        <img src="~assets/images/ba_logo.png" alt="Beryllium Alloy logo" />
      </n-link>
    </div>
  </header>
</template>
