<template>
  <div class="page">
    <Header />
    <img :src="post.image" class="post__image" :alt="post.summary" />
    <div class="post">
      <h1>{{ post.title }}</h1>

      <div class="post__section">
        <h2>Progress</h2>
        <p>{{ post.progress }}</p>
      </div>

      <div class="post__section">
        <h2>Thoughts</h2>
        <p>{{ post.thoughts }}</p>
      </div>

      <div class="post__links">
        <h2>Links</h2>
        <a v-bind:href="post.url">{{ post.linktext }}</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      post: {},
    };
  },
  async fetch() {
    this.post = await this.$http.$get(
      `https://gangplank.services/getpost/${this.$route.params.id}`
    );
  },
};
</script>
