<template>
  <div class="page">
    <Header />
    <div class="hero">
      <img src="../assets/images/ba_hero.png" class="hero-image" alt="100 days of code graphic" />
    </div>
    <div class="page-title">
      <h1>100 Days of Code Challenge</h1>
    </div>
    <div class="about row justify-content-center">
      The challenge is to code at least an hour a day for 100 straight days.
      See the&nbsp;
      <n-link :to="`/rules`">rules</n-link>&nbsp; for more details and links
      to information about the challenge.
    </div>
    <div class="section-posts">
      <div v-for="post of posts" :key="post._id">
        <div class="post-preview">
          <n-link :to="`/posts/${post._id}`">
            <div class="row align-items-center">
              <div class="col-4 post-preview__image-container">
                <img :src="post.image" class="post-preview__image" :alt="post.summary" />
              </div>
              <div class="post-preview__text col-8">
                <h3>{{ post.title }}</h3>
                <p>{{ post.summary }}</p>
              </div>
            </div>
          </n-link>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
export default {
  data() {
    return {
      posts: [],
    };
  },
  async fetch() {
    this.posts = await this.$http.$get(
      "https://gangplank.services/getPostPreviews"
    );
  },
};
</script>
