<template>
  <div class="page">
    <Header />
    <div class="rules">
      <h1 class="page-title">Rules of the 100 Days Of Code Challenge</h1>

      <div class="rules__body">
        <h2>Main Commitment</h2>

        <h3>
          <span class="rules__commitment"
            >I will code for at least an hour every day for the next 100
            days.</span
          >
        </h3>

        <div class="rules__date">
          <h3>Start Date</h3>
          <p>August 27, 2020.</p>
        </div>

        <h2>Additional Rules</h2>
        <ol class="rules__list">
          <li>
            I will tweet about my progress every day &rarr; using the hashtag
            #100DaysOfCode
          </li>
          <li>
            If I code at work, that time won&#39;t count towards the challenge.
          </li>
          <li>
            I will push code to Bitbucket every day so that anyone can see my
            progress.
          </li>
          <li>
            I will update the site with each day&#39;s progress and provide a
            link so that others can see my progress.
          </li>
          <li>
            I will work on real projects, facing real challenges. The time spent
            doing tutorials, online courses and other similar resources will NOT
            count towards this challenge. (If you&#39;ve just started learning
            to code, read <a href="FAQ.md">FAQ</a>)
          </li>
        </ol>

        <h2>Ideas to make this challenge more effective</h2>
        <ol class="rules__list">
          <li>
            To increase the chances of success, it&#39;s a requirement that you
            add a link to each of the daily posts. It can be a link to a commit
            in a public repo or a link to a blog post.
          </li>
          <li>
            If you get upset or stuck, read this article:
            <a
              href="https://www.freecodecamp.org/news/learning-to-code-when-it-gets-dark-e485edfb58fd/"
              >Learning to Code: When It Gets Dark</a
            >
          </li>
          <li>
            If you don&#39;t know why there is such an emphasis on working on
            the projects vs doing tutorials or online courses, read this:
            <a
              href="https://www.freecodecamp.org/news/how-to-get-a-developer-job-in-less-than-a-year-c27bbfe71645/"
              >How to Get a Developer Job in Less Than a Year</a
            >
          </li>
          <li>
            If you can&#39;t push your code to GitHub for some reason (e.g. if
            you&#39;re only starting to code and doing interactive exercises),
            provide a link to a tweet. You can think of something else as long
            as your challenge stays public - and you get the benefit of being
            committed to it and accountable for your progress.
          </li>
          <li>
            Another good bonus of forking this repo &rarr; if you haven&#39;t
            worked with Markdown before, it&#39;s a good way to practice.
          </li>
        </ol>

        <h2>Resources</h2>
        <ul>
          <li>
            <a href="https://github.com/kallaway/100-days-of-code"
              >Original Repo</a
            >
          </li>
          <li>
            <n-link :to="`/`">Log - click here to see my progress</n-link>
          </li>
          <li>
            <a
              href="https://github.com/kallaway/100-days-of-code/blob/master/FAQ.md"
              >FAQ</a
            >
          </li>
          <li>
            <a
              href="https://github.com/kallaway/100-days-of-code/blob/master/resources.md"
              >Resources</a
            >
          </li>
        </ul>
      </div>
    </div>
    <Footer />
  </div>
</template>
